#app {
  header {
    display: flex;
    grid-area: header;

    font-weight: bold;
    font-size: 1em;

    span {
        color: gray;
    }

    .ui-header-path, .nb-editor-toolbar {
      word-break: keep-all;
      overflow: hidden;

      flex: 1;
    }

    .ui-header-path {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      span {
        margin-left: 1rem;
      }
    }

    .nb-editor-toolbar {
      display: flex;
      width: 50vw;

      svg {
        width: 1em;
        height: 1em;
        min-width: 1em;
        min-height: 1em;
        fill: gray;
        padding: 0.5rem;
        cursor: pointer;
        &:hover {
          fill: var(--accent-color);
        }
      }
    }
  }
}
