.ui-preview-error, .ui-preview-text {
  flex: 1;
  height: 100%;
  min-height: 0;
  overflow: hidden;
  display: flex;

  line-height: 1.2em;
  pre {
    width: 100%;
    overflow: auto;
  }
}

.ui-preview-error {
  color: red;
}

.ui-preview-image, .ui-preview-audio, .ui-preview-video {
  flex: 1;
  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  img, audio, video {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.ui-preview-embed {
  flex: 1;
  justify-self: stretch;
  align-self: stretch;

  display: flex;
  embed, iframe {
    flex: 1;
    border-width: 2px;
  }
}